:root{
   --plum: rgb(206,141,199);
   --blue: rgb(32,182,181);
   --gold: rgb(254,190,22);
   --pink: rgb(251,80,87);
}
.header{
   padding:50px;
   position:fixed;
   left:0;
   top:0;
   width:100%;
   z-index:100;
   transition:all .7s cubic-bezier(.165,.85,.45,1);
}

.head-top{position:relative}

.header .menu-btn{
   position:relative;
   margin:0 auto;
   width:30px;
   height:20px
}
.header .menu-btn:before,.header .menu-btn:after{
   content:'';
   position:absolute;
   top:0;
   left:0;
   width:100%;
   height:2px;
   background:#fff;
   transition:all .3s ease 0s;
}

.header .menu-btn:after{
   top:auto;
   bottom:0;
}

.header .menu-btn span{
   position:absolute;
   top:50%;
   left:0;
   width:100%;
   height:2px;
   background:#fff;
   margin-top:-1px;
   transition:all .3s ease 0s;
   
}

.header .logo{
   position:absolute;
   overflow:hidden;
   top:50%;
   font-size:16px;
   line-height:2.5;
   font-weight:600;
   color:rgba(255,255,255,.5);
   white-space:nowrap;
   transform:translateY(-50%);
   
}

.mask-lnk:after{
   content:"\f078";
   margin-left:5px;
   position:relative;
   top:0;
   display:inline-block;
   font-family:'Font Awesome 5 Free';
   font-weight:900;
   font-size:.8em;
   display:inline-block;
   font-style:normal;
   font-variant:normal;
   line-height:1;
   text-rendering: auto;
}

.hover-masks .mask-lnk,.hover-masks-logo .mask-lnk{
   position:relative;
   top:0;
   left:0;
   width:100%;
   display:block;
   transform:translateY(0%);
   transition:transform .7s cubic-bezier(.165,.85,.45,1);
}

.hover-masks .mask-lnk.mask-lnk-hover,.hover-masks-logo 
.mask-lnk.mask-lnk-hover
{
   position:absolute;
   transform:translateY(100%);
}

.hover-masks a:hover .mask-lnk:nth-child(1),.hover-masks-logo a:hover .mask-lnk:nth-child(1)
{
   transform:translateY(-100%);
}
.hover-masks a:hover .mask-lnk.mask-lnk-hover,.hover-masks-logo a:hover .mask-lnk.mask-lnk-hover
{
   transform:translateY(0%);
}

.header .top-menu{
   text-align:right;
}

.header .top-menu .menu-top-menu-container{
   display:inline-block;
}

.header .top-menu ul{
   margin:0;padding:0;
   list-style:none;
}

.header .top-menu ul li{
   margin-left:40px;
   display:inline-block;
   vertical-align:top;
   position:relative;
}

.header .top-menu ul li a{
   position:relative;
   overflow:hidden;
   display:block;
   font-size:1em;
   line-height:2.5;
   color:#fff;
   font-weight:600;
   opacity:.65;
   text-decoration:none;
   transition:color .7s cubic-bezier(.165,.85,.45,1);
}
.header .top-menu ul li:hover>.sub-menu,.header .top-menu ul li:hover>.children{
   opacity:1;
   pointer-events:auto;
}

.header .top-menu ul li:hover>a,.header .top-menu ul li.current-menu-item>a,.header .top-menu ul li.current-menu-parent>a{opacity:1;}

.header .top-menu ul li.menu-item-has-children>a .mask-lnk:after{
   content:"\f078";
   margin-left:5px;
   position:relative;
   top:0;
   display:inline-block;
   font-family:'Font Awesome 5 Free';
   font-weight:900;
   font-size:.8em;
   display:inline-block;
   font-style:normal;
   font-variant:normal;
   text-rendering:auto;
   line-height:1;
}
.header .top-menu-nav .sub-menu,.header .top-menu-nav .children{
   position:absolute;
   left:0;
   top:40px;
   padding:10px 0;
   width:190px;
   text-align:left;
   background:#1e1e1e;
   z-index:50;
   opacity:0;
   pointer-events:none;
   transition:all .3s ease 0s;
   box-shadow:0 5px 50px rgba(0,0,0,.1);
}

.header .top-menu ul li:last-child .sub-menu,.header .top-menu-nav .children{
   right:0;
   left:auto;
}

.header .top-menu-nav .sub-menu:before,.header .top-menu-nav .children:before{
   content:'';
   position:absolute;
   left:10px;
   top:-12px;
   border:6px solid transparent;
   border-bottom:6px solid #1e1e1e;
}

.header .top-menu ul li:last-child .sub-menu:before,.header .top-menu-nav .children:before{
   right:10px;
   left:auto;
}

.header .top-menu-nav .sub-menu li,.header .top-menu-nav .children li{
   margin-left:0;
   padding:8px 20px;
   display:block;
   border-bottom:1px solid rgba(255,255,255,.1);
   height:auto;
}

.header .top-menu-nav .sub-menu li:last-child,.header .top-menu-nav .children li:last-child{border-bottom:none}

.header .top-menu-nav .sub-menu li a,.header .top-menu-nav .children li a{
   margin-top:0;
   display:block;
   font-size:12px;
   color:#fff;
   opacity:.5;
   line-height:2;
}

.header .top-menu-nav .sub-menu li .sub-menu,.header .top-menu-nav .children li .children{
   left:100%;
   top:-10px;
   background:#242424;
}

.header .top-menu-nav .sub-menu li .sub-menu:before,.header .top-menu-nav .children li .children:before{
   content:'';
   position:absolute;
   left:-12px;
   top:26px;
   border:6px solid transparent;
   border-right:6px solid #242424;
   border-bottom:6px solid transparent;
}

.background-enabled .header .top-menu ul li.current-menu-item>a{opacity:1}

.header .top-menu-nav{display:block}
.header .top-menu{
   position:relative;
   top:0;
   left:0;
   margin-top:0;
   margin-left:0;
   margin-right:0;
   float:none;
   width:auto;
   height:0;
   text-align:center;
   opacity:0;
   visibility:hidden;
   transition:opacity .35s cubic-bezier(.165,.85,.45,1);
}

.header.active .top-menu{margin-top:40px;line-height:normal}

.header .top-menu .menu-top-menu-container{display:block}

.header .top-menu{line-height:normal}

.header .top-menu ul li{
   margin-left:0;
   padding:2px 0;
   display:block;
   border-bottom:1px solid rgba(255,255,255,.1);
}

.header .top-menu .top-menu-nav>ul>li:first-child,.header .top-menu .top-menu-nav .menu-all-pages-container>ul>li:first-child{border-top:1px solid rgba(255,255,255,.1)}

.header .top-menu-nav .sub-menu,.header .top-menu-nav .children{
   position:relative;
   left:0;
   top:0;
   margin:5px 0 20px;
   width:auto;
   text-align:center;
   pointer-events:none;
   display:none;
   opacity:0;
   visibility:hidden;
}

.header.active .top-menu-nav .sub-menu,.header.active .top-menu-nav .children{
   opacity:1;
   visibility:visible;
   pointer-events:auto;
   transition:none;
   
}

.header .top-menu-nav .sub-menu:before,.header .top-menu-nav .children:before{margin-left:-6px;left:50%}

.header .top-menu-nav .sub-menu li .sub-menu,.header .top-menu-nav .children li .children{
   left:0;
   top:8px;
   margin:0 -20px;
   background:#242424;
   box-shadow:none;
}

.header .top-menu-nav .sub-menu li .sub-menu:before,.header .top-menu-nav .children li .children:before{
   left:50%;
   top:-12px;
   border:6px solid transparent;
   border-right:6px solid transparent;
   border-bottom:6px solid #242424;
}

.header .top-menu ul li:last-child .sub-menu:before,.header .top-menu-nav .children:before{
   right:50%;
   left:auto;
   margin-left:0;
   margin-right:-6px;
}